* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.img-logo{
    height: 50px;
}
.text-grey{
    color: grey;
}
.col-gray{
    color: gray;
}
.bg-grey{
    background-color: rgb(243, 237, 237);
}
.line{
    display: inline;
}
.pad-right{
    padding-right: 60px;
}
.dimension-icon{
   border: 10px 10px;
}
footer{
    background-color: #212529;
    height: 100px;
}
.pad-left{
    padding-left: 0;
}